.nav {
    height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: 2px 1px 2px 2px rgb(148, 146, 146);
    border-radius: 10px;

    h3 {
        margin: 0;
        margin-right: 25px;
      }
      div{
        display: flex;    
        cursor:pointer;
        margin-right: 10px;

      }
      app-nevnap{
        cursor:pointer;
        margin-left: 10px;
        margin-top: 0.5rem;
      }


}
