<h2 mat-dialog-title>Letölthető tartalom: {{title}}</h2>
<mat-dialog-content>A webes alkalmazásban használt képeket letöltheti innen...</mat-dialog-content>

<mat-form-field appearance="outline">
    <mat-label>Válasszon típust</mat-label>
    <mat-select appearance="outline" [(ngModel)]="selectedFileType">
        <mat-option value="image">Képek</mat-option>
        <mat-option value="documents">Dokumentumok</mat-option>
    </mat-select>
</mat-form-field>


<div *ngIf="selectedFileType === 'image'" class="imageList">
    <p>A letöltéshez kattintson a képre</p>
    <div *ngFor="let image of imageList">
        <img [src]="'assets/images/' + image" alt="{{ image }}" style="max-width: 100px;margin-bottom: 10px; margin-right: 10px;"class="hover-effect"
            (click)="downloadImage(image)">
    </div>
</div>

<div *ngIf="selectedFileType === 'documents'" class="documentList">
    <div *ngFor="let dock of docksList">
        <a [href]="'assets/documents/' + dock.filename" download="{{ dock.filename }}">{{dock.name}}</a>    </div>
</div>

<mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Bezár</button>
    <a mat-stroked-button color="accent" href="mailto:angularVizsga@gmail.com">Írjon nekünk</a>
    </mat-dialog-actions>