<body class="landing2">
    <nav>
        <p style="cursor: pointer;" (click)="openDialog()">Web-appon használt képek letöltése</p>
        <!--<span style="cursor: pointer;" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            Web-alkalmazás leírása
            <p *ngIf="showTooltip">
              Itt lesz majd a modal
            </p>
        </span>-->
          
        <a href="https://hu.wikipedia.org/wiki/Covid19">Covid-19-ről általánosságban</a>
        <a style="color: white;" routerLink="/login">Belépés</a>
        <a style="color: white;" routerLink="/registration">Regisztráció</a>
    </nav>

    <div class="container">

        <div class="text">
            <p style="font-size: 25px;">Mi az a COVID-19?</p><br>
            <p>A COVID-19 a súlyos akut légúti szindróma coronavirus-2 (SARS-CoV-2) vírus által okozott betegség . A
                SARS-CoV-2 a koronavírus új törzse. Emberben 2019 decembere előtt nem azonosították.
    
                A jelenlegi COVID-19 járvány 2019 végén kezdődött, és 2020. március 11-én az Egészségügyi Világszervezet
                (WHO)(a link külső)világjárványnak nyilvánította .
    
                2023. május 4-én a WHO főigazgatója megállapította, hogy a COVID-19 már nem számít nemzetközi jelentőségű
                közegészségügyi vészhelyzetnek.(a link külső). Kiemelte, hogy bár magasabb a lakossági immunitás szintje, és
                kevesebb a kórházi kezelés és a halálozás, továbbra is bizonytalanok vannak a SARS-CoV-2 fejlődésével
                kapcsolatban. <br><br><p style="font-size: 10px;">Forrás:Wikipédia</p>
            </p>
        </div>
    </div>
</body>