<div class="card-container">
  <mat-card *ngFor="let result of a" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{result.country}}</mat-card-title>
        <mat-card-subtitle>{{result.capital_city}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content *ngIf="result.showDetails">
      <p>Megerősített: {{result.confirmed}}</p>
      <p>Felgyógyult: {{result.recovered}}</p>
      <p>Elhunyt: {{result.deaths}}</p>
      <p>Terület mérete: {{result.sq_km_area}}</p>
      <p>Várható élettartam: {{result.life_expectancy}}</p>
      <p>Magasság méterben: {{result.elevation_in_meters}}</p>
      <p>Rövidítés: {{result.abbreviation}}</p>
      <p>Elhelyezkedés: {{result.location}}</p>
      <p>Confirmed: {{result.iso}}</p>
      <p>Évek: {{result.lat}}</p>
      <p>Hosszúság: {{result.long}}</p>
      <p>Frissítve: {{result.updated | date}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="showDetails(result)" *ngIf="!result.showDetails">Bővebben...</button>
      <button mat-button (click)="dontShowDetails(result)" *ngIf="result.showDetails">Kevesebb..</button>    
    </mat-card-actions>

  </mat-card>
</div>
